<div class="panel panel-primary" style="width: 25%; margin-left: 5%">

<div style="text-align:center">
  <h1>
   Öğretmen Listesi
  </h1>
</div>

<table >
  <tr>
    <th>Ogretmen Idsi</th>
    <th>Ogretmen Ismi</th>
    <th>Ogretmen Bransi</th>
  </tr>
  <tr *ngFor="let teacher of teachers">
    <th>{{teacher.id}}</th>
    <th>{{teacher.name}}</th>
    <th>{{teacher.branch}}</th>
  </tr>
</table>
  <div class="buttonHolder">

  <button class="log_but" class="btn btn-primary" value="AddTeacher" id="addTeacher"
        (click)="btnClickAddTeacher()">Öğretmen Ekle
</button>
  </div>
  <div class="buttonHolder">
  <button class="log_but" class="btn btn-primary" value="RegisterTeacher" id="registerTeacher"
          (click)="btnClickRegister()">Kayit ol
  </button>
  </div>
</div>
