<div class="panel panel-primary" style="width: 40%;min-width: 500px; min-height: 750px; margin-left: 5%">

<div style="text-align:center">
  <h1>
   Öğretmen Listesi
  </h1>
</div>

<table >
  <tr>
    <th>Idsi</th>
    <th>Adı</th>
    <th>Soyadı</th>
    <th>Bransi</th>
    <th>Sınıfı</th>
    <th>İşlemler</th>
  </tr>
  <tr *ngFor="let teacher of teachers">
    <th>{{teacher.id}}</th>
    <th>{{teacher.name}}</th>
    <th>{{teacher.sname}}</th>
    <th>{{teacher.branch}}</th>
    <th>{{teacher.mainClass}}</th>
  <th><button (click)="removeSelected(teacher.id.toString())" value="Delete">Delete</button><br></th>
  </tr>
</table>
  <div class="buttonHolder">

  <button class="log_but" class="btn btn-primary" value="AddTeacher" id="addTeacher"
        (click)="btnClickAddTeacher()">Öğretmen Ekle
</button>
  </div>
  <div class="buttonHolder">
  <button class="log_but" class="btn btn-primary" value="RegisterTeacher" id="registerTeacher"
          (click)="btnClickRegister()">Kayit ol
  </button>
  </div>
</div>
