<!--The content below is only a placeholder and can be replaced.-->

<body ng-app="myApp">

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<div ng-controller="myCtrl">
  <!--<button type="button" class="btn btn-primary-outline pull-right" ng-click="btnClickAddTeacher();"><i class="fa fa-plus"></i>Öğretmen Ekle</button>-->
  <!--<button type="button" class="btn btn-primary-outline pull-right" ng-click="btnClickListTeacher();"><i class="fa fa-plus"></i>Öğretmen Listesi</button>-->
  <button class="log_but" class="btn btn-primary-outline pull-right" value="AddTeacher" id="addTeacher"
          (click)="btnClickAddTeacher()">Öğretmen Ekle
  </button>
  <button class="log_but" class="btn btn-primary-outline pull-right" value="ListTeacher" id="listTeacher"
          routerLink="/app-teacher-list">Öğretmen Listesi
  </button>
  <button class="log_but" class="btn btn-primary-outline pull-right" value="ListTeacher" id="listTeachesr">
  <router-outlet>Öğretmen Listesi</router-outlet>
  </button>


</div>
</body>
