<h2 class="panel panel-header" style="width: 40%;margin-left: 5%">Menü</h2>
<div class="panel panel-primary" style="width: 40%; min-width: 500px; min-height: 750px; margin-left: 5%">

<div class="buttonHolder" style="width: 25%; margin-left: 5%">
  <button class="log_but" class="btn btn-primary" style="margin-top: 10px; width: 250px" value="Register" id="addUser"
          (click)="btnClickAddUser()">Kullanıcı Kaydı
  </button>
  <p>
  <button class="log_but" class="btn btn-primary" style="margin-top: 10px; width: 250px" value="Register" id="listUser"
          (click)="btnClickListUser()">Kayitlı Kullanıcıları Gör
  </button>
  <p>
  <button class="log_but" class="btn btn-primary" style="margin-top: 10px; width: 250px" value="ListTeacher" id="listTeacher"
          (click)="btnClickListTeacher()">Öğretmen Listesi
  </button>
  <p>
  <button class="log_but" class="btn btn-primary" style="margin-top: 10px; width: 250px" value="AddTeacher" id="addTeacher"
          (click)="btnClickAddTeacher()">Öğretmen Ekle
  </button>
  <p>
</div>

  <!--<div *ngFor="let teacher of (teachersObs | async)">-->
    <!--{{teacher.name}}-->
  <!--</div>-->

  <!--<button (click)="changeTeacherId(0)">Change Id</button>-->
</div>
